<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>



<div class="card">
  

<div class=" container-fluid container-scroll ">
  <div class="title"> <h3>Daily analyse       </h3></div><br>
  <div  class="malek row">
   
  <div  *ngFor="let p of products;let element=index; " class=" col-lg-4 col-md-5 col-sm-5">
    
    <div   class="card   cursor"  >
        <div  class="cardfolder container ">
        <div class="foldericon"> <i class="fas fa-folder fa-4x" (click)="chooseproduct(element)"></i></div>
  </div>
            <div class="container contf"> <h5 class="title">{{p.nom}}</h5></div>

          
          </div>
    </div>
  </div>
  </div>
  
  </div>

<div [ngStyle]="{'display':filter}" class="card m-3 " >
  <h5 class="card-header">Choose your filter options</h5>
  <div class="card-body">
    <div class="container">

      <div class="row">
         
              <div class="col-md-3">
                  <div class="form-group ">
                      <label>SortBy</label>
                     
  <select [(ngModel)]="actionselected" (ngModelChange)='onActionSelected($event)'>
    
    <option *ngFor="let act of actions" [value]="act">{{act}}</option> 
  </select>
  </div>
  </div>
  <div class="col-md-3">
    <div class="form-group ">
        <label>Qualifications</label>
  <select [(ngModel)]="qualiffilter" (ngModelChange)='QualifSelected($event)' >
   
    <option *ngFor="let act of aqualif" [value]="act">{{act}}</option> 
  </select>
</div>
</div>
<div class="row">
         
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker"  [(ngModel)]="date"
                          (dateChange)="addEvent( $event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
  </div>
  Date Chosen using 'ngModel':
  <div>{{ date }}</div>
  <div class="row">
         
              <div class="col-md-3">
                  <div class="form-group ">
                      <label>Status</label>
                     
  <select [(ngModel)]="stateselected" (ngModelChange)='onStateSelected($event)'>
    
    <option *ngFor="let act of states" [value]="act">{{act}}</option>
  </select>
  </div>
  </div>
 </div>
 </div>
</div>
</div>
<div class="col-md-6">
    <table class="table table-striped">
    
    <tbody>
        <tr *ngFor="let sc of scenarios;let indexOfelement=index;">
          <li class="list-group-item">
          <div 
          [ngStyle]="{'color': getColor(indexOfelement)}">
          
          {{sc.description}}
          <button  [ngStyle]="{'color':'black'}" type="button" (click)="show(indexOfelement)">{{getbut(indexOfelement)}}</button> 
          <br>   
          resultat de scenario {{sc.result}} ______________ {{sc.errortype}}  <br>
          temps d'execution:  {{sc.duration}}secondes <br>
         {{geterrordays(indexOfelement)}}
         Date scénario : {{sc.date_sc}}
          
         

        
       
          
         <div  *ngFor="let step of getsteps(indexOfelement);let i=index;">
          
          <li  [ngStyle]="{'display':getvis(indexOfelement),'color':'black'}" class="list-group-item">
            
            
           
            {{step.description}}    {{step.result}}   {{step.duration}} <br>
            {{geterror(indexOfelement,i)}}
            {{geterrordes(indexOfelement,i)}}
            
            <div  class="input-group" *ngIf="step.incident != null"> 
              <div  *ngFor="let screen of getscreens(indexOfelement,i);let k=index;">
                <div>
                <img [attr.src]="'http://localhost:8085/scenarios/get-image/'+screen" WIDTH=200
                HEIGHT=200>
              </div>
              </div>
              <div>
              <textarea    class="form-control custom-control" rows="3" style="resize:none" required [(ngModel)]="step.incident.comment"></textarea>     
              
              
              <span class="input-group-addon btn btn-primary" (click)="updateComment(indexOfelement,i)">save</span>
            </div>
              <div >
                <label>Set Qualification</label>
              <select  [(ngModel)]="qualifselected" (ngModelChange)='onQualSelected($event,indexOfelement,i)'>
                <option *ngFor="let act of aqualif" [value]="act">{{act}}</option> 
          </select>
              </div>
          <br>
          <button  >PENDING ON</button> 
            </div>
          
            </li>
            
          </div>
          
      </div>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
      
      
        </li>
            </tr>
    </tbody>
      </table>
    </div>
    